/* imported font family */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* CSS Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  /*------------ rem value pick from here--------------*/

  font-size: 62.5%;
  /* Default color variables */

  --clr-primary: #c0272d;
  --clr-secondary: #0000;
  --clr-gray: #dddddd;
  --clr-light: #ffff;
  --clr-white-smoke: #ebebeb;
  --clr-secondary-light: #292929;
}

body {
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  background: var(--clr-light);
}

/* heading constant font family */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
section {
  max-width: 1060px;
  margin: 0 auto;
}

header {
  background-color: #0097c2;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-flow: row wrap;
}

nav li {
  padding: 10px 0;
}

nav li a {
  display: block;
  padding: 0 20px;
  line-height: 60px;
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
}
nav li .search-field form ion-icon {
  position: absolute;
  left: 0;
  bottom: 15%;
  font-size: 22px;
}
nav li .search-field form {
  position: relative;
  margin: 0 5px;
}

.search-field form input {
  width: 100%;
  margin: 0;
  padding-left: 35px;
  border-width: 0 0 1px 0;
  background-color: transparent;
  border-color: #ddd;
  line-height: 40px;
  margin: 0 5px;
}

.search-field form input:focus {
  background-color: transparent !important;
  border-color: #ddd;
  outline: none;
}

#header {
  background-color: var(--clr-light);
}
.top_header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.top_header p {
  margin-bottom: 15px;
}
.top_header p:first-child {
  font-size: 26px;
  color: #0097c2;
  font-family: playfair;
  font-weight: 800;
}
.top_header :last-child {
  font-size: 20px;
  font-weight: 600;
  font-family: Playfair display bod italic;
}

.main_image {
  flex-basis: 20%;
}

.main_title {
  flex: 75.5%;
  padding: 10px 20px;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  height: 150px;
  width: 150px;
}

.row_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.title {
  text-align: center;
  color: #001e63;
  font-size: 42px;
  line-height: 42px;
}
.row_container figure img {
  width: 250px;
  height: 250px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.row_container figure:hover img {
  opacity: 1;
}
.row_container figure:hover figcaption hr {
  width: 40%;
  opacity: 1;
}
.row_container figure figcaption {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #1e2269;
  text-align: center;
}
.row_container figure figcaption hr {
  border: 1px solid #0095eb;
  margin-left: 0;
  width: 20%;
  transition: all 0.2s ease-in-out;
}

.department_sec,
.card_sec {
  padding: 10rem 0;
}

#card_sec {
  background-color: #0097c2;
}

.card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 2%;
}
.card_container h1 {
  text-align: center;
}
.cards {
  flex-basis: 48%;
  text-align: center;
}

.card_image {
  height: 40em;
  width: auto;
  margin: 4rem 0 8rem;
}

.clr-green-btn {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  border-color: #6dab3c;
  background-color: #6dab3c;
  border-radius: 5px;
  text-decoration: none;
}
.clr-green-btn ion-icon {
  font-size: 18px;
  vertical-align: middle;
}

.logo_sec {
  padding: 60px 0 80px;
}

.hero_slider {
  width: 100%;
  height: 650px;
}

.brand_slider .item {
  width: 150px;
  height: auto;
  display: block;
  margin: 50px auto 0;
}

.slide {
  width: 100%;
  height: 650px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-1 {
  background: url(../../wsfpo_org/بالای-صفحه-اصلی1.jpg);
}
.slide-2 {
  background: url(../../wsfpo_org/بالای-صفحه-اصلی.jpg);
}
.slide-3 {
  background: url(../../wsfpo_org/بالای-صفحه-اصلی3.jpg);
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  color: #fff !important;
  background: none !important;
  border-radius: 50%;

  font-size: 60px !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}
